@import "tailwindcss";

html {
  font-family: 'Sansation', sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Sansation';
    src: url('/fonts/Sansation-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sansation';
    src: url('/fonts/Sansation-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

}

.dark .headerContainer {
  background: #272727;
  color: #b6b078;
}

.dark .sliderContainer {
  background-color: #3b3a3a;
  color: #b6b078;
}

.dark .projectContainer {
  background-color: #3b3a3a;
  color: #b6b078;
}

.dark .aboutMeContainer {
  background: #272727;
  color: #b6b078;
}

.headerContainer {
  background: #ccd3cc;
  color: #3b3b3b;
}

.sliderContainer {
  background: #f5f5f5;
  color: #3b3b3b;
}

.projectContainer {
  background: #fcfffc;
  color: #3b3b3b;
}

.aboutMeContainer {
  background: #ccd3cc;
  color: #3b3b3b;
}